project/MesManager/MesManager/Connected Services/MesService/MesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.175:8085/MesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.175:8085/MesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.175:8085/MesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MesAPI.Model" />
      <xsd:import schemaLocation="http://192.168.0.175:8085/MesService.svc?xsd=xsd3" />
      <xsd:import schemaLocation="http://192.168.0.175:8085/MesService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMesService_TestCommunication_InputMessage">
    <wsdl:part name="parameters" element="tns:TestCommunication" />
  </wsdl:message>
  <wsdl:message name="IMesService_TestCommunication_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestCommunicationResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMesService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetAllUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserInfo" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetAllUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IMesService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_ModifyUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyUserPassword" />
  </wsdl:message>
  <wsdl:message name="IMesService_ModifyUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteStation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStation" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStationResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectStationList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectStationList" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectStationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectStationListResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectProcessList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectProcessList" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectProcessList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectProcessListResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteAllStation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllStation" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteAllStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllStationResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_InsertStation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStation" />
  </wsdl:message>
  <wsdl:message name="IMesService_InsertStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStationResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SetCurrentProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentProcess" />
  </wsdl:message>
  <wsdl:message name="IMesService_SetCurrentProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCurrentProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteAllTypeStation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllTypeStation" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteAllTypeStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllTypeStationResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteTypeStation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTypeStation" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteTypeStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTypeStationResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTypeStation_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTypeStation" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTypeStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTypeStationResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_CommitTypeStation_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitTypeStation" />
  </wsdl:message>
  <wsdl:message name="IMesService_CommitTypeStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitTypeStationResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectLastTestResultUpper_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectLastTestResultUpper" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectLastTestResultUpper_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectLastTestResultUpperResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTestResultUpper_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTestResultUpper" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTestResultUpper_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTestResultUpperResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMaterial" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectMaterialPN_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMaterialPN" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectMaterialPN_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMaterialPNResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMaterial" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteAllMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllMaterial" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteAllMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_CommitProductMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitProductMaterial" />
  </wsdl:message>
  <wsdl:message name="IMesService_CommitProductMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitProductMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectProductMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductMaterial" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectProductMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteProductMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductMaterial" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteProductMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_UpdateMaterialPN_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialPN" />
  </wsdl:message>
  <wsdl:message name="IMesService_UpdateMaterialPN_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialPNResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_InsertMaterialStatistics_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertMaterialStatistics" />
  </wsdl:message>
  <wsdl:message name="IMesService_InsertMaterialStatistics_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertMaterialStatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectMaterialBasicMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMaterialBasicMsg" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectMaterialBasicMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMaterialBasicMsgResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectMaterialDetailMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMaterialDetailMsg" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectMaterialDetailMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMaterialDetailMsgResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_CommitProductContinairCapacity_InputMessage">
    <wsdl:part name="parameters" element="tns:CommitProductContinairCapacity" />
  </wsdl:message>
  <wsdl:message name="IMesService_CommitProductContinairCapacity_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommitProductContinairCapacityResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectProductContinairCapacity_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductContinairCapacity" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectProductContinairCapacity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductContinairCapacityResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectProductBindingState_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductBindingState" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectProductBindingState_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductBindingStateResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteProductContinairCapacity_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductContinairCapacity" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteProductContinairCapacity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductContinairCapacityResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteAllProductContinairCapacity_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllProductContinairCapacity" />
  </wsdl:message>
  <wsdl:message name="IMesService_DeleteAllProductContinairCapacity_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllProductContinairCapacityResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectProductBindingRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductBindingRecord" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectProductBindingRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductBindingRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectPackageProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPackageProduct" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectPackageProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPackageProductResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTestProgrameVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTestProgrameVersion" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTestProgrameVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTestProgrameVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTestLimitConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTestLimitConfig" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTestLimitConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTestLimitConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTestLogDataDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTestLogDataDetail" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTestLogDataDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTestLogDataDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTodayTestLogData_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTodayTestLogData" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTodayTestLogData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTodayTestLogDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_UpdateQuanlityData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuanlityData" />
  </wsdl:message>
  <wsdl:message name="IMesService_UpdateQuanlityData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateQuanlityDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_UpdateMaterialStateMent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialStateMent" />
  </wsdl:message>
  <wsdl:message name="IMesService_UpdateMaterialStateMent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialStateMentResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectQuanlityManager_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectQuanlityManager" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectQuanlityManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectQuanlityManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectMaterialName_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMaterialName" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectMaterialName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMaterialNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetMaterialCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialCode" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetMaterialCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectLastLogTestResult_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectLastLogTestResult" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectLastLogTestResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectLastLogTestResultResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTypeNoList_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTypeNoList" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTypeNoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTypeNoListResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectPackageStorage_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPackageStorage" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectPackageStorage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPackageStorageResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTestResultDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTestResultDetail" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTestResultDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTestResultDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTestResultLogDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTestResultLogDetail" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectTestResultLogDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTestResultLogDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetPCBASn_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPCBASn" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetPCBASn_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPCBASnResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetProductSn_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSn" />
  </wsdl:message>
  <wsdl:message name="IMesService_GetProductSn_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductSnResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectPackageProductOfCaseCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPackageProductOfCaseCode" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectPackageProductOfCaseCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPackageProductOfCaseCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectPackageProductCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectPackageProductCheck" />
  </wsdl:message>
  <wsdl:message name="IMesService_SelectPackageProductCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectPackageProductCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IMesService_ModifyMaterialStock_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyMaterialStock" />
  </wsdl:message>
  <wsdl:message name="IMesService_ModifyMaterialStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyMaterialStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IMesService">
    <wsdl:operation name="TestCommunication">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/TestCommunication" message="tns:IMesService_TestCommunication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/TestCommunicationResponse" message="tns:IMesService_TestCommunication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/Login" message="tns:IMesService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/LoginResponse" message="tns:IMesService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/GetUserInfo" message="tns:IMesService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/GetUserInfoResponse" message="tns:IMesService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/GetAllUserInfo" message="tns:IMesService_GetAllUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/GetAllUserInfoResponse" message="tns:IMesService_GetAllUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/Register" message="tns:IMesService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/RegisterResponse" message="tns:IMesService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyUserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/ModifyUserPassword" message="tns:IMesService_ModifyUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/ModifyUserPasswordResponse" message="tns:IMesService_ModifyUserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteUser" message="tns:IMesService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteUserResponse" message="tns:IMesService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteStation" message="tns:IMesService_DeleteStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteStationResponse" message="tns:IMesService_DeleteStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectStationList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectStationList" message="tns:IMesService_SelectStationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectStationListResponse" message="tns:IMesService_SelectStationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectProcessList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectProcessList" message="tns:IMesService_SelectProcessList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectProcessListResponse" message="tns:IMesService_SelectProcessList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteAllStation" message="tns:IMesService_DeleteAllStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteAllStationResponse" message="tns:IMesService_DeleteAllStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/InsertStation" message="tns:IMesService_InsertStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/InsertStationResponse" message="tns:IMesService_InsertStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCurrentProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SetCurrentProcess" message="tns:IMesService_SetCurrentProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SetCurrentProcessResponse" message="tns:IMesService_SetCurrentProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllTypeStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteAllTypeStation" message="tns:IMesService_DeleteAllTypeStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteAllTypeStationResponse" message="tns:IMesService_DeleteAllTypeStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTypeStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteTypeStation" message="tns:IMesService_DeleteTypeStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteTypeStationResponse" message="tns:IMesService_DeleteTypeStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTypeStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectTypeStation" message="tns:IMesService_SelectTypeStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectTypeStationResponse" message="tns:IMesService_SelectTypeStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitTypeStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/CommitTypeStation" message="tns:IMesService_CommitTypeStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/CommitTypeStationResponse" message="tns:IMesService_CommitTypeStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectLastTestResultUpper">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectLastTestResultUpper" message="tns:IMesService_SelectLastTestResultUpper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectLastTestResultUpperResponse" message="tns:IMesService_SelectLastTestResultUpper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTestResultUpper">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectTestResultUpper" message="tns:IMesService_SelectTestResultUpper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectTestResultUpperResponse" message="tns:IMesService_SelectTestResultUpper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectMaterial" message="tns:IMesService_SelectMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectMaterialResponse" message="tns:IMesService_SelectMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMaterialPN">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectMaterialPN" message="tns:IMesService_SelectMaterialPN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectMaterialPNResponse" message="tns:IMesService_SelectMaterialPN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteMaterial" message="tns:IMesService_DeleteMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteMaterialResponse" message="tns:IMesService_DeleteMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteAllMaterial" message="tns:IMesService_DeleteAllMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteAllMaterialResponse" message="tns:IMesService_DeleteAllMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitProductMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/CommitProductMaterial" message="tns:IMesService_CommitProductMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/CommitProductMaterialResponse" message="tns:IMesService_CommitProductMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectProductMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectProductMaterial" message="tns:IMesService_SelectProductMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectProductMaterialResponse" message="tns:IMesService_SelectProductMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProductMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteProductMaterial" message="tns:IMesService_DeleteProductMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteProductMaterialResponse" message="tns:IMesService_DeleteProductMaterial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterialPN">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/UpdateMaterialPN" message="tns:IMesService_UpdateMaterialPN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/UpdateMaterialPNResponse" message="tns:IMesService_UpdateMaterialPN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertMaterialStatistics">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/InsertMaterialStatistics" message="tns:IMesService_InsertMaterialStatistics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/InsertMaterialStatisticsResponse" message="tns:IMesService_InsertMaterialStatistics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMaterialBasicMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectMaterialBasicMsg" message="tns:IMesService_SelectMaterialBasicMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectMaterialBasicMsgResponse" message="tns:IMesService_SelectMaterialBasicMsg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMaterialDetailMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectMaterialDetailMsg" message="tns:IMesService_SelectMaterialDetailMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectMaterialDetailMsgResponse" message="tns:IMesService_SelectMaterialDetailMsg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitProductContinairCapacity">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/CommitProductContinairCapacity" message="tns:IMesService_CommitProductContinairCapacity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/CommitProductContinairCapacityResponse" message="tns:IMesService_CommitProductContinairCapacity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectProductContinairCapacity">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectProductContinairCapacity" message="tns:IMesService_SelectProductContinairCapacity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectProductContinairCapacityResponse" message="tns:IMesService_SelectProductContinairCapacity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectProductBindingState">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectProductBindingState" message="tns:IMesService_SelectProductBindingState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectProductBindingStateResponse" message="tns:IMesService_SelectProductBindingState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProductContinairCapacity">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteProductContinairCapacity" message="tns:IMesService_DeleteProductContinairCapacity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteProductContinairCapacityResponse" message="tns:IMesService_DeleteProductContinairCapacity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllProductContinairCapacity">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/DeleteAllProductContinairCapacity" message="tns:IMesService_DeleteAllProductContinairCapacity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/DeleteAllProductContinairCapacityResponse" message="tns:IMesService_DeleteAllProductContinairCapacity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectProductBindingRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectProductBindingRecord" message="tns:IMesService_SelectProductBindingRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectProductBindingRecordResponse" message="tns:IMesService_SelectProductBindingRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPackageProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectPackageProduct" message="tns:IMesService_SelectPackageProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectPackageProductResponse" message="tns:IMesService_SelectPackageProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTestProgrameVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectTestProgrameVersion" message="tns:IMesService_SelectTestProgrameVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectTestProgrameVersionResponse" message="tns:IMesService_SelectTestProgrameVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTestLimitConfig">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectTestLimitConfig" message="tns:IMesService_SelectTestLimitConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectTestLimitConfigResponse" message="tns:IMesService_SelectTestLimitConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTestLogDataDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectTestLogDataDetail" message="tns:IMesService_SelectTestLogDataDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectTestLogDataDetailResponse" message="tns:IMesService_SelectTestLogDataDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTodayTestLogData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectTodayTestLogData" message="tns:IMesService_SelectTodayTestLogData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectTodayTestLogDataResponse" message="tns:IMesService_SelectTodayTestLogData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuanlityData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/UpdateQuanlityData" message="tns:IMesService_UpdateQuanlityData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/UpdateQuanlityDataResponse" message="tns:IMesService_UpdateQuanlityData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterialStateMent">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/UpdateMaterialStateMent" message="tns:IMesService_UpdateMaterialStateMent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/UpdateMaterialStateMentResponse" message="tns:IMesService_UpdateMaterialStateMent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectQuanlityManager">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectQuanlityManager" message="tns:IMesService_SelectQuanlityManager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectQuanlityManagerResponse" message="tns:IMesService_SelectQuanlityManager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMaterialName">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectMaterialName" message="tns:IMesService_SelectMaterialName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectMaterialNameResponse" message="tns:IMesService_SelectMaterialName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/GetMaterialCode" message="tns:IMesService_GetMaterialCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/GetMaterialCodeResponse" message="tns:IMesService_GetMaterialCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectLastLogTestResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectLastLogTestResult" message="tns:IMesService_SelectLastLogTestResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectLastLogTestResultResponse" message="tns:IMesService_SelectLastLogTestResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTypeNoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectTypeNoList" message="tns:IMesService_SelectTypeNoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectTypeNoListResponse" message="tns:IMesService_SelectTypeNoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPackageStorage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectPackageStorage" message="tns:IMesService_SelectPackageStorage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectPackageStorageResponse" message="tns:IMesService_SelectPackageStorage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTestResultDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectTestResultDetail" message="tns:IMesService_SelectTestResultDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectTestResultDetailResponse" message="tns:IMesService_SelectTestResultDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTestResultLogDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectTestResultLogDetail" message="tns:IMesService_SelectTestResultLogDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectTestResultLogDetailResponse" message="tns:IMesService_SelectTestResultLogDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPCBASn">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/GetPCBASn" message="tns:IMesService_GetPCBASn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/GetPCBASnResponse" message="tns:IMesService_GetPCBASn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductSn">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/GetProductSn" message="tns:IMesService_GetProductSn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/GetProductSnResponse" message="tns:IMesService_GetProductSn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPackageProductOfCaseCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectPackageProductOfCaseCode" message="tns:IMesService_SelectPackageProductOfCaseCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectPackageProductOfCaseCodeResponse" message="tns:IMesService_SelectPackageProductOfCaseCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectPackageProductCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/SelectPackageProductCheck" message="tns:IMesService_SelectPackageProductCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/SelectPackageProductCheckResponse" message="tns:IMesService_SelectPackageProductCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyMaterialStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IMesService/ModifyMaterialStock" message="tns:IMesService_ModifyMaterialStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMesService/ModifyMaterialStockResponse" message="tns:IMesService_ModifyMaterialStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMesService" type="tns:IMesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestCommunication">
      <soap:operation soapAction="http://tempuri.org/IMesService/TestCommunication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMesService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IMesService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfo">
      <soap:operation soapAction="http://tempuri.org/IMesService/GetAllUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IMesService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyUserPassword">
      <soap:operation soapAction="http://tempuri.org/IMesService/ModifyUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStation">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectStationList">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectStationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProcessList">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectProcessList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllStation">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteAllStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStation">
      <soap:operation soapAction="http://tempuri.org/IMesService/InsertStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCurrentProcess">
      <soap:operation soapAction="http://tempuri.org/IMesService/SetCurrentProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllTypeStation">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteAllTypeStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTypeStation">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteTypeStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTypeStation">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectTypeStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitTypeStation">
      <soap:operation soapAction="http://tempuri.org/IMesService/CommitTypeStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectLastTestResultUpper">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectLastTestResultUpper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTestResultUpper">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectTestResultUpper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMaterial">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMaterialPN">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectMaterialPN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterial">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllMaterial">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteAllMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitProductMaterial">
      <soap:operation soapAction="http://tempuri.org/IMesService/CommitProductMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProductMaterial">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectProductMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProductMaterial">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteProductMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterialPN">
      <soap:operation soapAction="http://tempuri.org/IMesService/UpdateMaterialPN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertMaterialStatistics">
      <soap:operation soapAction="http://tempuri.org/IMesService/InsertMaterialStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMaterialBasicMsg">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectMaterialBasicMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMaterialDetailMsg">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectMaterialDetailMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CommitProductContinairCapacity">
      <soap:operation soapAction="http://tempuri.org/IMesService/CommitProductContinairCapacity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProductContinairCapacity">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectProductContinairCapacity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProductBindingState">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectProductBindingState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProductContinairCapacity">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteProductContinairCapacity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllProductContinairCapacity">
      <soap:operation soapAction="http://tempuri.org/IMesService/DeleteAllProductContinairCapacity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProductBindingRecord">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectProductBindingRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPackageProduct">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectPackageProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTestProgrameVersion">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectTestProgrameVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTestLimitConfig">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectTestLimitConfig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTestLogDataDetail">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectTestLogDataDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTodayTestLogData">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectTodayTestLogData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuanlityData">
      <soap:operation soapAction="http://tempuri.org/IMesService/UpdateQuanlityData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterialStateMent">
      <soap:operation soapAction="http://tempuri.org/IMesService/UpdateMaterialStateMent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectQuanlityManager">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectQuanlityManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMaterialName">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectMaterialName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialCode">
      <soap:operation soapAction="http://tempuri.org/IMesService/GetMaterialCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectLastLogTestResult">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectLastLogTestResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTypeNoList">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectTypeNoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPackageStorage">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectPackageStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTestResultDetail">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectTestResultDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTestResultLogDetail">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectTestResultLogDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPCBASn">
      <soap:operation soapAction="http://tempuri.org/IMesService/GetPCBASn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductSn">
      <soap:operation soapAction="http://tempuri.org/IMesService/GetProductSn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPackageProductOfCaseCode">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectPackageProductOfCaseCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectPackageProductCheck">
      <soap:operation soapAction="http://tempuri.org/IMesService/SelectPackageProductCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyMaterialStock">
      <soap:operation soapAction="http://tempuri.org/IMesService/ModifyMaterialStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MesService">
    <wsdl:port name="BasicHttpBinding_IMesService" binding="tns:BasicHttpBinding_IMesService">
      <soap:address location="http://192.168.0.175:8085/MesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>