project/MesTest/MesTest/Connected Services/MesTestService/MesService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MesWcfService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MesWcfService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PCBABindHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="BindHistoryData" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="BindNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PCBABindHistory" nillable="true" type="tns:PCBABindHistory" />
</xs:schema>